[defaults]
roles_path = roles
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansiblecache
fact_caching_timeout = 86400
stdout_callback = debug
vault_password_file = .vaultpass
